version: "3.9"

services:
  bot:
    build: .
    container_name: gpt_bot
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:
      - redis
    volumes:
      - ./logs:/app/logs


    

  redis:
    image: redis:7-alpine
    container_name: redis_chat
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
